table.k9-form {
  font-size: 20px;
}

div.topPad {
  padding-top: 10px;
}

.no-dog-found {
  font-style: italic;
}

td.buttons > a {
  margin-left: 10px;
}

input.print {
  border: none;
  box-shadow: none;
  outline: none;
  display: block;
}

@media print {
  button {
    display: none !important;
  }
  input,
  textarea {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
}
